---
interface Props {
  title: string;
  description: string;
  image: string;
  technologies: Array<{ name: string; icon: string }>;
  repoUrl?: string;
  demoUrl?: string;
  inDevelopment?: boolean;
}

const {
  title,
  description,
  image,
  technologies,
  repoUrl,
  demoUrl,
  inDevelopment,
} = Astro.props;
---

<div class="project-card">
  <div class="project-header">
    <h2 class="project-title">{title}</h2>
    {
      inDevelopment && (
        <div class="status-badge">
          <h4 class="development-status">
            <i class="fas fa-tools" /> En desarrollo activo
          </h4>
        </div>
      )
    }
  </div>
  <div class="project-content">
    <p class="project-description">{description}</p>

    <div class="tech-tags">
      {
        technologies.map((tech) => (
          <span class="tech-tag">
            <i class={tech.icon} />
            {tech.name}
          </span>
        ))
      }
    </div>

    <div class="project-actions">
      <a
        href={repoUrl}
        class={`action-button repo ${!repoUrl ? "disabled" : ""}`}
        style={!repoUrl ? "text-decoration: line-through;" : ""}
      >
        <i class="fab fa-github"></i> Ver repositorio
      </a>
      <a
        href={demoUrl}
        class={`action-button demo ${!demoUrl ? "disabled" : ""}`}
        style={!demoUrl ? "text-decoration: line-through;" : ""}
      >
        <i class="fas fa-external-link-alt"></i> ¡Pruébalo!
      </a>
    </div>
  </div>

  <div class="project-media">
    <div class="project-preview">
      <img src={image} alt={`Imagen ${title}`} />
    </div>
  </div>
</div>
