---
import SkillsIcon from './icons/SkillsIcon.astro';
import SectionTitle from './section-title/SectionTitle.astro';


const iOS = [
  { name: "Swift", icon: "https://skillicons.dev/icons?i=swift", class: "larger-icon" },  
  { name: "SwiftUI", icon: "https://developer.apple.com/assets/elements/icons/swiftui/swiftui-96x96_2x.png", class: "larger-icon" },
  { name: "UIKit", icon: "https://img.icons8.com/?size=150&id=BQbKONe0owd3&format=png&color=000000", class: "larger-icon" },
];

const WebBackground = [
  { name: "Astro", icon: "https://skillicons.dev/icons?i=astro", class: "larger-icon" },
  { name: "HTML", icon: "https://skillicons.dev/icons?i=html", class: "larger-icon" },
  { name: "CSS", icon: "https://skillicons.dev/icons?i=css", class: "larger-icon" },
  { name: "JS", icon: "https://skillicons.dev/icons?i=js", class: "larger-icon" },
  { name: "NodeJS", icon: "https://skillicons.dev/icons?i=nodejs", class: "larger-icon" },
];

const tools = [
  { name: "GitHub", icon: "https://skillicons.dev/icons?i=github", class: "larger-icon" },
  { name: "Figma", icon: "https://skillicons.dev/icons?i=figma", class: "larger-icon" },
  { name: "MongoDB", icon: "https://skillicons.dev/icons?i=mongodb", class: "larger-icon" },
];
---

<section class="skills wrapper" id="skills">
  <SectionTitle title="Tech Stack">
    <SkillsIcon class="section-icon" />
  </SectionTitle>

  <div class="skills__content">
    <h3 class="skills__subtitle smoke">iOS Dev</h3>
    <ul class="skills__ul">
      {
        iOS.map((tech) => (
          <li class="skills__li">
            <img src={tech.icon} alt={tech.name} class={`skills__icon ${tech.class || ''}`} />
            {tech.name}
          </li>
        ))
      }
    </ul>

    <h3 class="skills__subtitle smoke">Web Background</h3>
    <ul class="skills__ul">
      {
        WebBackground.map((tech) => (
          <li class="skills__li">
            <img src={tech.icon} alt={tech.name} class="skills__icon" />
            {tech.name}
          </li>
        ))
      }
    </ul>

    <h3 class="skills__subtitle smoke">Herramientas</h3>
    <ul class="skills__ul">
      {
        tools.map((tool) => (
          <li class="skills__li">
            <img src={tool.icon} alt={tool.name} class="skills__icon" />
            {tool.name}
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .skills {
    padding: 1em;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
  .skills__title {
    font-size: clamp(1.7rem, 5vw, 2.5rem);
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .skills__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .skills__subtitle {
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid rgba(var(--color), 1); 
    width: fit-content;
  }
  .skills__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em; 
  }
  .skills__li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    text-align: center;
    margin: 0.25em; 
  }
  .skills__icon {
    width: 3rem;
    height: 3rem;
  }
  .larger-icon {
    width: 3rem;
    height: 3rem;
  }
</style>